.type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}
.type__item {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  min-width: 200px;
  background-color: #fde4e0;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.type__item:hover {
  transform: translateY(-30px);
  box-shadow: 0 0 10px rgba(125, 8, 8, 0.767);
}
.type__icon,
.type__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  color: red;
}
.type__icon {
  font-size: 2rem;
}
.type__title {
  color: black !important;
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
  .type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .type__item {
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    min-width: 200px;
    background-color: #fde4e0;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
}
@media screen and (max-width: 739px) {
  .type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    flex-wrap: wrap;
  }
  .type__item {
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    min-width: 200px;
    background-color: #fde4e0;
    border-radius: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
  }
}
