.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wws__title {
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wws__title h1 {
  margin-top: 0;
}
.features-icon {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: rgba(255, 0, 0, 0.667);
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.features-paragraph {
  display: block;
  text-align: center;
}
.features-paragraph {
  font-size: 0.8rem;
  color: rgb(193, 193, 193);
}
@media screen and (max-width: 739px) {
  .features-icon {
    font-size: 2rem;
  }
  .features-title {
    font-size: 0.8rem;
  }
  .features-paragraph {
    display: none;
  }
  .features {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }
  .p {
    display: none;
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.508);
  }
}
