.food {
  background-image: linear-gradient(
      rgba(121, 5, 5, 0.362),
      rgba(61, 168, 3, 0.449)
    ),
    url(../../assets/images/All-food-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  padding: 50px 200px;
  margin-bottom: 10px;
  min-height: 600px;
}
.searchbar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}
.select {
  min-width: 150px;
}
.form__select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: transparent;
}
.special__menu {
  background-image: url(../../assets/images/special-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food__menu {
  width: 100%;
  min-height: 200px;
}
.food__menu__item {
  padding: 10px;
  display: flex;
  width: 100%;
  min-height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgba(84, 6, 6, 0.603);
  margin: 10px 0;
}
.item__title,
.item__desc,
.item__cost {
  color: wheat;
}
.item__desc,
.item__cost {
  font-size: 0.8rem;
  color: black;
}
.item__image {
  animation: rotateImage 5s ease infinite;
}
@keyframes rotateImage {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.item__content {
  width: 60%;
}
