.searchbar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}
.select {
  width: 120px;
}
.form-select {
  width: 100px;
}
.special__menu {
  background-image: url(../../assets/images/special-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  border-radius: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food__menu__item {
  padding: 10px;
  display: flex;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgba(84, 6, 6, 0.603);
  margin: 10px 0;
}
.item__title,
.item__desc,
.item__cost {
  color: wheat;
}
.item__desc,
.item__cost {
  font-size: 0.8rem;
  color: black;
}
.item__image {
  animation: rotateImage 5s ease infinite;
}
@keyframes rotateImage {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.item__content {
  width: 60%;
}
@media screen and (max-width: 739px) {
  .food__menu__item {
    min-width: 300px;
  }
  .food__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 420px) {
  .food__menu__item {
    min-width: 200px;
  }
  .food__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
