.why-wrapper {
  display: flex;
  margin: 50px 0;
}
.why-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.why-logo img {
  width: 400px;
}
.why-title span {
  color: red;
}
.why-list {
  background-color: rgba(127, 255, 212, 0.347);
  padding: 10px;
  margin-top: 20px;
  line-height: 0.8rem;
  border-radius: 5px;
}
.why-list-title {
  font-weight: 600;
}
.paragraph {
  line-height: 1.2rem;
  font-size: 0.8rem;
  color: rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 739px) {
  .why-logo img {
    display: none;
  }
}
